<section class="wrapper">
  <h2>Página hecha con Angular CLI</h2>
  <h3>COMPONENTES</h3>
  <p>
    Esta página esta construida en Angular version 16.2.1, para la primera
    entregra del curso de ANGULAR de Coderhouse
  </p>
  <p>
    Se ultizo Angular CLI para generar el proyecto con el comando "ng new
    &lt;nombre del proyecto&gt;"
  </p>
  <p>La cual se encuentra compuesta de cuatro componentes principales:</p>
  <ol>
    <li>Toolbar</li>
    <li>Sidebar</li>
    <li>Page-wrapper</li>
    <li>Footer</li>
  </ol>
  <p>
    Para crearlos se utilizo el comando "ng generate componente &lt;nombre del
    componente&gt;"
  </p>
</section>
